body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 75px;
    margin: 0;
    padding-top: 5in;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #333;
    margin: 20px 0;
}

p {
    text-align: left;
    margin: 20px;
    font-size: 16px;
}

img {
    width: 100%;
    object-fit: cover;
}

.page-break {
    page-break-before: always;
}

.footer {
    text-align: center;
    }